#body {
	background-color:#7ec6db;
	font-family: sans-serif;
}


#main-title {
	text-align: center;
	font-size:50px;
	padding:30px;
}

#title {
	font-size:40px;
	padding:20px;
	text-align: center;
}

#sub-title {
	text-align: center;
	padding-bottom:30px;
	font-size:20px;
}

nav {
	text-align:center;
	padding:15px;
	border-bottom:solid black;
	background-color:#C70039;
}

.nav-link {
	color:#DAF7A6 ;
}

.container {

	text-align:center;
}

.col-sm-4 {
	padding:10px;
	border-left:dotted green;
}

#button {
	background-color:orange;
	margin-top:30px;
}
#button:hover {
	border:solid 0.8px black;
	opacity:80%;
}

.col {
	text-align: left;
}

@media only screen and (max-width:500px) {
	.col-sm-4 {
		border-left:none;
	}
}

.col-sm-6 {
	padding:20px;
	font-size:25px;
}

.col-sm-12 {
	text-align: center;
	padding:20px;
}

td, th {
	padding:10px;
	border:solid;
}

table {
	margin-left:auto;
	margin-right:auto;
}